@import './theme.less';
@import './rest.less';

.page-container {
  flex-grow: 1;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 0 50px 30px;
  box-sizing: border-box;
  .tag-title {
    display: inline-block;
    margin: 0 5px 10px 20px;
  }
  .kw,
  .type,
  .updateTime {
    display: inline-block;
    margin-left: 10px;
  }
  .type,
  .updateTime {
    color: var(--color-primary);
  }
  .updateTime {
    font-weight: 400;
  }
  .kw {
    padding: 3px 6px;
    background: var(--tip-bg);
    font-size: @font-xs-size;
    font-weight: 400;
    color: var(--colorInverse);
    line-height: 1.2;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: @font-xs-size/50%;
  }
}

.ui-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--btn-bg);
  color: var(--colorInverse);
  &:hover {
    background-color: var(--btn-hover-bg);
  }
}

.ui-tab-container {
  display: flex;
  .ui-tab {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    &:hover {
      background-color: var(--tabHoverBg);
    }
    &.ui-tab-act {
      border-bottom-color: var(--tabBorder);
      color: var(--tabBorder);
      &:hover {
        color: var(--colorInverse);
      }
    }
  }
}

.ui-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui-icon-large {
  display: inline-block;
  -webkit-mask-image: url(./largeIcons.svg);
  background-color: var(--color);
  width: 28px;
  height: 24px;
}

.ui-triangle {
  display: inline-block;
  border: @font-size*0.4 solid transparent;
  border-left-color: var(--color);
}

.ui-loading {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid var(--border-light);
    border-bottom-color: transparent;
    animation: loading 0.5s linear infinite;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
