@import './theme.less';

body {
  color: @color;
  margin: 0;
}

.page-container {
  max-height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 0 30px 30px;
}

.ui-tab-container {
  display: flex;
  .ui-tab {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    &:hover {
      background-color: @tab-hover;
    }
    &.ui-tab-act {
      border-bottom-color: @tab-border;
      color: @tab-border;
    }
  }
}
