.btn{
	display: inline-block;
	padding:5px 10px;
	border-radius: 4px;
	background: #f66;
	margin :10px;
	color:#fff;
	font:14px 'MicrosoftYaHei,sans-serif';
}
.btn-block{
	display: block;
	padding: 5px 0;
	width:90%;
	margin: 5px auto;
	border-radius: 4px;
	background: #f66;
	text-align: center;
	color:#fff;
	font:14px 'MicrosoftYaHei,sans-serif';
}
.input-block{
	outline: 0;
	border-radius: 2px;
	border:1px solid #f66;
	text-align: center;
	width:40%;
	padding:2px 0;
	::-webkit-input-placeholder{
		text-align:center;
	}
}
.testInfo{
	background:#fbfbfb;
	padding:30px 0;
}
.signUp, .signIn, .follow, .changeLimit, .visit{
	float: left;
	width: 25%;
	height: 100px;
	text-align: center;
}
.state{clear:left;}
