/*box shadow hack*/
/*border radius hack*/
/*transform hack*/
/*transform-origin hach*/
.modal-con, .toast-con {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  top: 0;
  left: 0; }

.modal-con {
  background: rgba(0, 0, 0, 0.6); }
  .modal-con .modal-box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20rem;
    border-radius: 0.2rem; }
    .modal-con .modal-box .head, .modal-con .modal-box .foot {
      height: 3rem;
      line-height: 3rem; }
    .modal-con .modal-box .head {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 3rem;
      text-align: center;
      border-radius: 0.2rem 0.2rem 0 0; }
    .modal-con .modal-box .foot {
      text-align: right;
      border-top-width: 1px;
      border-top-style: solid; }
      .modal-con .modal-box .foot .btn {
        margin-right: 1rem; }
    .modal-con .modal-box .body {
      box-sizing: border-box;
      padding: 1rem 0.5rem; }

.toast-con {
  z-index: 400; }
  .toast-con .toast-box {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1rem 1rem;
    max-width: 25rem;
    min-width: 10rem;
    border-radius: 0.4rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease; }

.toast-transition .toast-box {
  opacity: 0;
  transition: opacity .5s ease; }

.toast-hide {
  display: none; }
