/*box shadow hack*/
/*border radius hack*/
/*transform hack*/
/*transform-origin hach*/
@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.page {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s; }
  .page .page-modal {
    display: none; }

.page-aside-show {
  -webkit-transform: translate(15rem, 0);
  -moz-transform: translate(15rem, 0);
  -ms-transform: translate(15rem, 0);
  -o-transform: translate(15rem, 0);
  transform: translate(15rem, 0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s; }
  .page-aside-show .page-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%; }

.theme1 {
  color: #333; }
  .theme1 .modal-box {
    background: #fff;
    color: #333; }
    .theme1 .modal-box .head {
      background: #222;
      color: #eee; }
    .theme1 .modal-box .foot {
      border-color: #e8ebf0; }
  .theme1 .nav {
    background: #f8f8f8; }
  .theme1 .aside {
    background: #f3f3f3; }
    .theme1 .aside .close {
      background-position: -2.05rem -3.62rem; }
