/*box shadow hack*/
/*border radius hack*/
/*transform hack*/
/*transform-origin hach*/
@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

html, body, #root {
  height: 100%; }

body {
  font-size: 0.8rem;
  overflow-x: hidden;
  line-height: 1.1;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; }

body, ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

input {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 0.8rem; }

::-webkit-input-placeholder {
  color: #999;
  font-size: 0.8rem; }

img {
  border: 0; }

.hz-btn, .hz-btn-s, .hz-btn-s-l, .hz-btn-s-r, .hz-btn-m, .hz-btn-m-l, .hz-btn-m-r, .hz-btn-b-l, .hz-btn-b-r, .hz-btn-b, .hz-btn-line, .hz-btn-line-s, .hz-btn-line-s-l, .hz-btn-line-s-r, .hz-btn-line-m, .hz-btn-line-m-l, .hz-btn-line-m-r, .hz-btn-line-b, .hz-btn-line-b-l, .hz-btn-line-b-r {
  display: inline-block;
  border: 0;
  outline: 0;
  text-align: center;
  text-indent: 0.1rem;
  letter-spacing: 0.1rem;
  background-color: #f55;
  border-radius: 0.2rem;
  color: #fff;
  cursor: pointer; }
  .hz-btn:hover, .hz-btn-s:hover, .hz-btn-s-l:hover, .hz-btn-s-r:hover, .hz-btn-m:hover, .hz-btn-m-l:hover, .hz-btn-m-r:hover, .hz-btn-b-l:hover, .hz-btn-b-r:hover, .hz-btn-b:hover, .hz-btn-line:hover, .hz-btn-line-s:hover, .hz-btn-line-s-l:hover, .hz-btn-line-s-r:hover, .hz-btn-line-m:hover, .hz-btn-line-m-l:hover, .hz-btn-line-m-r:hover, .hz-btn-line-b:hover, .hz-btn-line-b-l:hover, .hz-btn-line-b-r:hover {
    background-color: #f23; }
  .hz-btn-s, .hz-btn-s-l, .hz-btn-s-r {
    font-size: 0.6rem;
    line-height: 0.6rem;
    padding: 0.15rem 0.3rem; }
    .hz-btn-s-l {
      float: left; }
    .hz-btn-s-r {
      float: right; }
  .hz-btn-m, .hz-btn-m-l, .hz-btn-m-r, .hz-btn-b-l, .hz-btn-b-r {
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0.25rem 0.4rem; }
    .hz-btn-m-l {
      float: left; }
    .hz-btn-m-r {
      float: right; }
  .hz-btn-b {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.3rem 0.6rem; }
    .hz-btn-b-l {
      float: left; }
    .hz-btn-b-r {
      float: right; }
  .hz-btn-line, .hz-btn-line-s, .hz-btn-line-s-l, .hz-btn-line-s-r, .hz-btn-line-m, .hz-btn-line-m-l, .hz-btn-line-m-r, .hz-btn-line-b, .hz-btn-line-b-l, .hz-btn-line-b-r {
    background-color: transparent;
    border: 1px solid #f55;
    color: #f55; }
    .hz-btn-line:hover, .hz-btn-line-s:hover, .hz-btn-line-s-l:hover, .hz-btn-line-s-r:hover, .hz-btn-line-m:hover, .hz-btn-line-m-l:hover, .hz-btn-line-m-r:hover, .hz-btn-line-b:hover, .hz-btn-line-b-l:hover, .hz-btn-line-b-r:hover {
      background-color: #f55;
      color: #fff; }
    .hz-btn-line-s, .hz-btn-line-s-l, .hz-btn-line-s-r {
      font-size: 0.6rem;
      line-height: 0.6rem;
      padding: 0.15rem 0.3rem; }
      .hz-btn-line-s-l {
        float: left; }
      .hz-btn-line-s-r {
        float: right; }
    .hz-btn-line-m, .hz-btn-line-m-l, .hz-btn-line-m-r {
      font-size: 0.8rem;
      line-height: 0.8rem;
      padding: 0.25rem 0.4rem; }
      .hz-btn-line-m-l {
        float: left; }
      .hz-btn-line-m-r {
        float: right; }
    .hz-btn-line-b, .hz-btn-line-b-l, .hz-btn-line-b-r {
      font-size: 1rem;
      line-height: 1rem;
      padding: 0.3rem 0.6rem; }
      .hz-btn-line-b-l {
        float: left; }
      .hz-btn-line-b-r {
        float: right; }

.switch {
  cursor: pointer;
  display: inline-block;
  background: #dcdcdc;
  width: 2.4rem;
  height: 1.44rem;
  border-radius: 30%/50%; }
  .switch .switch-item {
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    background: #f55;
    border-radius: 50%;
    margin: 0.12rem; }

.switch-left .switch-item {
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s; }

.switch-right .switch-item {
  -webkit-transform: translate(75%, 0);
  -moz-transform: translate(75%, 0);
  -ms-transform: translate(75%, 0);
  -o-transform: translate(75%, 0);
  transform: translate(75%, 0);
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s; }
