/*box shadow hack*/
/*border radius hack*/
/*transform hack*/
/*transform-origin hach*/
.sign-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6); }
  .sign-modal .content {
    width: 25rem;
    height: 12rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .sign-modal .eye-con {
    height: 4rem;
    position: relative;
    top: -3.58rem; }
    .sign-modal .eye-con .header {
      position: absolute;
      left: 50%;
      top: 0.05rem;
      z-index: 101;
      margin-left: -3rem;
      width: 6rem;
      height: 100%;
      background: url("../images/sign/face@2x.png") center no-repeat;
      background-size: contain; }
      .sign-modal .eye-con .header .eye {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url("../images/sign/eyes@2x.png") center no-repeat;
        background-size: contain;
        opacity: 0; }
    .sign-modal .eye-con .left, .sign-modal .eye-con .right {
      position: absolute;
      z-index: 108;
      bottom: 0.05rem;
      left: 50%;
      transition: margin-left .3s, bottom .3s, opacity 0.15s linear 0.15s; }
    .sign-modal .eye-con .left {
      margin-left: -3.8rem; }
    .sign-modal .eye-con .right {
      margin-left: 2.4rem; }
    .sign-modal .eye-con .left-down, .sign-modal .eye-con .right-down {
      width: 1.76rem;
      height: 1rem;
      background: url("../images/sign/arm-down-left@2x.png") center no-repeat;
      background-size: contain; }
    .sign-modal .eye-con .right-down {
      background-image: url("../images/sign/arm-down-right@2x.png"); }
    .sign-modal .eye-con .left-up, .sign-modal .eye-con .right-up {
      z-index: 103;
      margin-left: -4.5rem;
      bottom: -2rem;
      width: 2rem;
      height: 2rem;
      background: url("../images/sign/arm-up-left@2x.png") center no-repeat;
      background-size: contain;
      opacity: 1; }
    .sign-modal .eye-con .right-up {
      margin-left: 2.1rem;
      background-image: url("../images/sign/arm-up-right@2x.png"); }
  .sign-modal .up .eye-con .header .eye {
    opacity: 1;
    transition: opacity 0.15s linear 0.15s; }
  .sign-modal .up .eye-con .left-down, .sign-modal .up .eye-con .right-down {
    transform: translate(0, 1.2rem);
    opacity: 0; }
  .sign-modal .up .eye-con .left-up, .sign-modal .up .eye-con .right-up {
    margin-left: -2.5rem;
    bottom: 0.24rem;
    opacity: 1; }
  .sign-modal .up .eye-con .right-up {
    margin-left: 0.1rem; }
  .sign-modal .up .space:before, .sign-modal .up .space:after {
    opacity: 1;
    transition: opacity 0s; }
  .sign-modal .space {
    height: 0.45rem;
    width: 100%;
    background: #fff;
    border-radius: 0.2rem 0.2rem 0 0;
    position: absolute;
    top: 0;
    left: 0; }
    .sign-modal .space:before, .sign-modal .space:after {
      content: '';
      opacity: 0;
      position: absolute;
      margin-left: 0.3rem;
      width: 3.3rem;
      height: 100%;
      left: 50%;
      background: #fff;
      z-index: 105;
      transition: opacity 0s .3s; }
    .sign-modal .space:before {
      margin-left: -4rem; }
  .sign-modal .form .label:before, .sign-modal .form .pwd span {
    float: left;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.25rem;
    background: url("../images/icons.png") no-repeat;
    background-position: -0.13rem 0;
    background-size: 15rem 25rem; }
  .sign-modal .form {
    height: 8.55rem;
    background: #fff;
    position: absolute;
    top: 0.45rem;
    width: 100%;
    z-index: 110; }
    .sign-modal .form .label {
      display: block;
      border: 1px solid #f55;
      width: 80%;
      height: 2rem;
      margin: 1rem auto;
      border-radius: 0.2rem; }
      .sign-modal .form .label:before {
        content: ''; }
      .sign-modal .form .label .input {
        float: left;
        margin-left: 0.5rem;
        width: 12.5rem;
        line-height: 2rem; }
    .sign-modal .form .pwd:before {
      background-position: -0.13rem -1.79rem; }
    .sign-modal .form .pwd span {
      width: 1.71429rem;
      height: 1.2rem;
      margin-top: 0.4rem;
      float: right;
      background-position: 0 -4.55rem; }
    .sign-modal .form .show-pwd span {
      background-position: 0 -3.3rem; }
  .sign-modal .foot {
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #f0f0f0;
    border-radius: 0 0 0.2rem 0.2rem;
    box-sizing: border-box;
    padding: 0 1rem;
    line-height: 3rem;
    font-size: 0.8rem;
    color: #999; }
    .sign-modal .foot span {
      cursor: pointer; }
      .sign-modal .foot span:hover {
        color: #f55; }
    .sign-modal .foot .submit {
      margin-top: 0.85rem; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 120; }

.unloading {
  display: none; }

.sign-up .content {
  height: 14.5rem; }

.sign-up .form {
  height: 10.425rem; }

.sign-up .foot {
  height: 3.625rem;
  line-height: 3.625rem; }
  .sign-up .foot .submit {
    margin-top: 1.1625rem; }
