@import './rule.scss';
@import './common.scss';

.aside{
	position: fixed;
	top:0;
	right: 100%;
	height: 100%;
	width:$asideWidth;
	.aside-loading{
		position: absolute;
		top:0;
		left: 0;
		background: $loading-bg;
		width:100%;
		height: 100%;
		&:after{
			content:'';
			@include center;
			@include loading;
		}
	}
	.aside-loading-hide{display: none;}
	.close{
		position: absolute;
		right:$midIcon/3;
		top:$midIcon/3;
		width: $midIcon;
		height: $midIcon;
		border-radius: 50%;
		cursor: pointer;
		opacity: 0.8;
		@include transform(rotate(45deg));
		@include transition(transform 0.3s);
		.height, .width{
			@include center;
		}
		.height{
			width:$midIcon*0.618;
			height:3px;
		}
		.width{
			width:3px;
			height:$midIcon*0.618;
		}
		&:hover{
			opacity: 1;
			@include transform(rotate(405deg));
			@include transition(transform 0.3s);
		}
	}
	.change-theme{
		position: absolute;
		bottom:$midIcon;
		left:10%;
		width:80%;
		line-height: $smallIcon*1.3;
		.switch{float: right;}
	}
}
