@import './rule.scss';
@import './common.scss';

.modal-con, .toast-con{
	position: fixed;
	width:100%;
	height:100%;
	z-index: 300;
	top:0;
	left:0;
}
.modal-con{
	background: $modal-bg;
	.modal-box{
		@include center;
		width:$modalWidth;
		border-radius: 0.2rem;
		.head,.foot{
			height:3rem;
			line-height: 3rem;
		}
		.head{
			@include ellipsis;
			line-height: 3rem;
			text-align: center;
			border-radius: 0.2rem 0.2rem 0 0;
		}
		.foot{
			text-align: right;
			border-top-width: 1px;
			border-top-style: solid;
			.btn{
				margin-right: 1rem;
			}
		}
		.body{
			box-sizing: border-box;
			padding:1rem 0.5rem;
		}
	}
}

.toast-con{
	 z-index: 400;
	.toast-box{
		opacity: 1;
		@include center;
		@include ellipsis;
		padding: 1rem 1rem;
		max-width: $toastMaxWidth;
		min-width: $toastMinWidth;
		border-radius: 0.4rem;
		text-align: center;
		background: $modal-bg;
		transition: opacity 0.3s ease;
	}
}
.toast-transition{
	.toast-box{
		opacity: 0;
		transition: opacity .5s ease;
	}
}
.toast-hide{
	display: none;
}
