@import './rule.scss';
@import './common.scss';

.nav{
	@include displayFlex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	height:$navHeight;
	position: fixed;
	top:0;
	left:0;
	z-index: 50;
	.menu, .con, .sign{
		height:100%;
	}
	.menu, .con{
		border-right: 1px solid $mainBorder1;
	}
	.menu, .sign{
		@include flex(1.5 1 5.5rem);
		line-height: $navHeight;
		text-align: center;
	}
	.menu{
		.icon, .user{
			width: $midIcon;
			height: $midIcon;
			margin: $navHeight/2-$midIcon/2;
			cursor: pointer;
		}
		.icon{
			float:left;
			background: url('../images/icons.png') no-repeat;
			background-size: $bg-size;
			background-position: -0.1rem -10.1rem;
			&:hover{
				background-position: -0.1rem -8.458rem;
			}
		}
		.aside-show{
			background-position: -0.1rem -7rem;
			&:hover{
				background-position: -0.1rem -5.6rem;
			}
		}
		.user{
			float: right;
			position: relative;
			@media screen and (max-width: 720px){
				display: none;
			}
			img{
				box-sizing: border-box;
				width:100%;
				height:100%;
				border-radius: 50%;
				border:1px solid $mainColor;
			}
			.msg{
				height:$tipTag;
				min-height: $smallFontSize*1.5;
				background: $mainColor;
				opacity: 0.9;
				position: absolute;
				top:-10%;
				right: -10%;
				padding:0 $smallFontSize*0.43;
				border-radius: 50%;
				font-size: $smallFontSize;
				line-height: 1.3;
				font-weight: 200;
				color:#fff;

			}
			.tit{display: none;}
			&:hover{
				.tit{
					display: block;
					position: absolute;
					z-index: 55;
					width:$navTitWidth;
					padding:0.5rem 0.3rem;
					border-radius: 0.2rem;
					top: 105%;
					left: 0;
					background: $modal-bg;
					line-height: 1.3;
					font-size: $smallFontSize;
					text-align: left;
					span{
						color:$mainFontColor2;
						display: block;
						@include ellipsis;
					}
				}
			}
		}
	}
	.con{
		width:$contentWidth;
	}
	.sign{
		font-size: $midFontSize;
	}
}
