// 颜色类>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// 线框颜色
$mainBorder1: #e8ebf0;
// 背景色
$modal-bg: rgba(0,0,0,0.6);
$mainColor: #f55;
$mainColorHover: #f23;
$modal-foot: #f0f0f0;
$warningColor: #f03;

$modalBoxBg1:#fff;
$modalHead1:#222;
// 文字颜色
$mainFontColor1 : #333;
$midFontColor: #666;
$lowFontColor: #999;
$modalHeadColor: #eee;
$sucColor: #39c881;


// 大小类>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// 字体大小
$bigFontSize: 1rem;
$midFontSize: 0.8rem;
$smallFontSize: 0.6rem;
// 宽
$contentWidth : 54rem;
$signWidth: 25rem;
$signLabelWidth: $signWidth*0.8;
$modalWidth: 20rem;
$toastMaxWidth: 25rem;
$toastMinWidth: 10rem;

// 高
$signInHeight: 12rem;
$signUpHeight: 16rem;
$navHeight : 2.5rem;

$labelHeight : 2rem;
$midIcon: 1.6rem;
$smallIcon: 1.2rem;

$bg-size: 7.5rem 12.5rem;//压缩50%；
