// 颜色类>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// 线框颜色
// 背景色
$modal-bg: rgba(0,0,0,0.6);
$mainColor: #f55;
$mainColorHover: #f23;
$modal-foot: #f0f0f0;
// 文字颜色
$mainFontColor1 : #333;
$lowFontColor: #999;

// 大小类>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// 字体大小
$bigFontSize: 1rem;
$midFontSize: 0.8rem;
$smallFontSize: 0.6rem;
// 宽
$contentWidth : 54rem;
$signWidth: 25rem;
// 高
$signInHeight: 12rem;
$signUpHeight: 14.5rem;
$navHeight : 2.5rem;
